@model Pc2_Pogramacion.Models.Curso

<h2>@Model.Nombre</h2>

<p><strong>Créditos:</strong> @Model.Creditos</p>
<p><strong>Horario:</strong> @Model.HorarioInicio - @Model.HorarioFin</p>

<a class="btn btn-primary">Inscribirse</a>