<form asp-controller="Matricula" asp-action="Inscribirse" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" name="cursoId" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">Inscribirse</button>
</form>

<br />

@if (TempData["Mensaje"] != null)
{
    <div class="alert alert-info">
        @TempData["Mensaje"]
    </div>
}