@model Pc2_Pogramacion.Models.Curso

<h2>Editar Curso</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <input asp-for="Nombre" />
    <input asp-for="Codigo" />
    <input asp-for="Creditos" type="number" />
    <input asp-for="CupoMaximo" type="number" />
    <input asp-for="HorarioInicio" type="datetime-local" />
    <input asp-for="HorarioFin" type="datetime-local" />

    <button type="submit">Guardar</button>
</form>